#nav{
	float: left;
	margin-left: 360px;
}
#content{
	padding: 10px;
	padding-bottom: 10px;
	width: 706px;
	background: white;
	border-top-width: 0px;
	margin: 0 auto;
}
li{
	list-style-type: none;
	padding: 10px;
	position: relative;
	width: 100px;
	border: 1px solid #fff;
	border-top-width: 0px;
}
ul ul{
	display: none;
}
li:hover{
	background: #010101;
}
li:hover > ul{
	display: block;
	position: absolute;
	top: 0;
	left: 100px;
}
ul{
	text-align: center;
	border-bottom: 5px solid #bb0000;
	color: #FFF;
	background: #444;
	padding: 0px;
	margin-left: 20px;
}